annotated-types==0.5.0
dnspython==2.4.2
email-validator==2.0.0.post2
idna==3.4
iso-639==0.4.5
numpy==1.26.0
pandas==2.1.1
pycountry==22.3.5
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic_core==2.10.1
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
typing_extensions==4.8.0
tzdata==2023.3
